%h1 Letterclick

%p
  Letterclick is a web version of the
  = link_to 'Letterpress', 'http://www.atebits.com/letterpress/'
  word game.  It is currently under construction.

%p
  = link_to 'Index of games', games_path
