@mixin letter-font($size)
  font:
    family: "Lucida Console", Monaco, monospace
    weight: bold
    size: $size

.board
  border-collapse: collapse
.letter
  text-align: center
  min-width: 100px
  line-height: 100px
  @include letter-font(80px)
.letter.player1
  background-color: lightblue
.letter.player2
  background-color: pink
.letter:hover
  background-color: yellow
  cursor: pointer
.word
  margin-top: 80px
  text-align: center
  width: 500px
  @include letter-font(60px)
